/* ============================================================================================ */
/* ==================================== DEFAULT THEME ========================================= */
/* ============================================================================================ */

.context-menu-default {
  position: absolute;
  width: 230px;
  padding: 0;
  margin: 0;  
  z-index: 100;
  border-radius: 3px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(0.95);
  transform: translate(0, 15px) scale(0.95);
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  pointer-events: none;
  background: #262933;
  font-size: 9pt;
  border: 1px solid #333333;
  border-radius: 6px;
  box-shadow: 2px 2px 2px -1px rgba(0, 0, 0, 0.5);
  padding: 3px 0px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.context-menu-default-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.context-menu-default-btn {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  width: 100%;
  color: #444;
  /* font-family: 'Roboto', sans-serif; */
  font-size: 9px;
  text-align: left;
  cursor: pointer;
  /* border: 1px solid transparent; */
  white-space: nowrap;
  padding: 8px 16px;
}

.context-menu-default-btn::-moz-focus-inner,
.context-menu-default-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.context-menu-default-icon {
  font-size: 16px;
}

.context-menu-default-text {
  font-size: 13px;
  margin-left: 5px;
}

.context-menu-default-item:hover > .context-menu-default-btn {
  outline: none;  
}

.context-menu-default-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.context-menu-default-item.disabled .context-menu-default-btn {
  cursor: default;
}

.context-menu-default-separator {
  display: block;
  margin: 7px 5px;
  height: 1px;
  border-bottom: 1px solid #fff;
  background-color: #aaa;
}

.context-menu-default-item.subcontext-menu-default::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #808080;
}

.context-menu-default-item.subcontext-menu-default:hover::after {
  border-left-color: #fff;
}

.context-menu-default .context-menu-default {
  top: 4px;
  left: 99%;
}

.show-context-menu-default,
.context-menu-default-item:hover > .context-menu-default {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.context-menu-default-item:hover > .context-menu-default {
  -webkit-transition-delay: 100ms;
  transition-delay: 300ms;
}

/* ============================================================================================ */
/* ======================================= BLUE THEME ========================================= */
/* ============================================================================================ */

.context-menu-blue {
  position: absolute;
  width: 250px;
  padding: 0;
  margin: 0;
  background: #23AFF7;
  background: linear-gradient(to bottom, #23AFF7 0%, #007BFF 100px, #007BFF 100%);
  z-index: 100;
  border-radius: 2px;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  opacity: 0;
  -webkit-transform: translate(0, 15px) scale(0.95);
  transform: translate(0, 15px) scale(0.95);
  -webkit-transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out;
  transition: transform 0.1s ease-out, opacity 0.1s ease-out, -webkit-transform 0.1s ease-out;
  pointer-events: none;
}

.context-menu-blue-item {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.context-menu-blue-btn {
  background: none;
  line-height: normal;
  overflow: visible;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: block;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  cursor: pointer;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 1rem 2rem;
}

.context-menu-blue-btn::-moz-focus-inner,
.context-menu-blue-btn::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.context-menu-blue-icon {
  color: white;
  font-size: 1.1rem;
}

.context-menu-blue-text {
  color: white;
  font-family: 'Barlow', sans-serif;
  font-size: 1rem;
  margin-left: 20px;
}

.context-menu-blue-item:hover > .context-menu-blue-btn {
  color: #23AFF7;
  outline: none;
  background-color: #73D0FF;
  background: -webkit-gradient(linear, left top, left bottom, from(#73D0FF), to(#73D0FF));
  background: linear-gradient(to bottom, #73D0FF, #73D0FF);
}

.context-menu-blue-item.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.context-menu-blue-item.disabled .context-menu-blue-btn {
  cursor: blue;
}

.context-menu-blue-separator {
  display: block;
  margin: 7px 5px;
  height: 1px;
  border-bottom: 1px solid #23AFF7;
  background-color: #aaa;
}

.context-menu-blue-item.subcontext-menu-blue::after {
  content: '';
  position: absolute;
  right: 6px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #808080;
}

.context-menu-blue-item.subcontext-menu-blue:hover::after {
  border-left-color: #23AFF7;
}

.context-menu-blue .context-menu-blue {
  top: 4px;
  left: 99%;
}

.show-context-menu-blue,
.context-menu-blue-item:hover > .context-menu-blue {
  opacity: 1;
  -webkit-transform: translate(0, 0) scale(1);
  transform: translate(0, 0) scale(1);
  pointer-events: auto;
}

.context-menu-blue-item:hover > .context-menu-blue {
  -webkit-transition-delay: 100ms;
  transition-delay: 300ms;
}
